body {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
    color: #0d0d0d;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, #076DF2 0%, #076DF2 50%, #F2F2F2 100%);
}

div {
    display: grid;
    border-style: outset;
    border-color: #cecece ;
    gap: 10px;
    padding: 5px;
    background-color: #F2F2F2;
}

ul {
    list-style-position: outside;
}

#header {
    grid-template-areas: 
    'name links'
    'desc desc';
}

#name {
    grid-area: name;
    border-style: none;
}

#links {
    grid-area: links;
    justify-content: center;
    border-style: none;
}

#desc {
    grid-area: desc;
    border-style: none;
}

#tech_stack {
    grid-area: main;
    grid-template-columns: auto auto auto auto;
}

.project {
    
}

#tree {
    grid-template-areas:
        'vid desc';
}

#tree-video {
    grid-area: vid;
    border-style: none;
}

#tree-description {
    grid-area: desc;
    border-style: none;
}

#rt {
    grid-template-areas:
        'desc img';
}

#rt-description {
    grid-area: desc;
    border-style: none;
}

#rt-img {
    grid-area: img;
    border-style: none;
}


#school_register {
    grid-template-areas: 
    'vid desc';
}

#video_uni_register {
    grid-area: vid;
    border-style: none;
}

#description_uni_register {
    grid-area: desc;
    border-style: none;
}

#maze {
    grid-template-areas: 
    'desc py scad irl';
}

#maze_desc {
    grid-area: desc;
}

#maze_py {
    grid-area: py;
    width: 500px;
}

#maze_scad {
    grid-area: scad;
    width: 500px;
}

#maze_irl {
    grid-area: irl;
    width: 500px;
}

#rt-img {
    grid-area: img;
    width: 1000px;
}


/* Iconoir */
.iconoir-box-iso, .iconoir-git-fork, .iconoir-code, .iconoir-terminal, .iconoir-book-stack {
    color: #0d0d0d;
    height: 20px;
}
.iconoir-terminal {
    height: 28px;
}

/* Images for lists */
#linkedin {list-style: url(images/icons/linkedin.png);}

#python {list-style: url(images/icons/python.png);}

#java {list-style: url(images/icons/java.png);}

#c_cpp {list-style: url(images/icons/c.png);}

#sql {list-style: url(images/icons/sql.png);}

#html_css {list-style: url(images/icons/html.png);}

#haskell {list-style: url(images/icons/haskell.png);}

#xml {list-style: url(images/icons/xml.png);}

#assembly {list-style: url(images/icons/asm.png);}

#bash {list-style: url(images/icons/bash.png);}

#javafx {list-style: url(images/icons/java.png);}

#junit {list-style: url(images/icons/junit.png);}

#maven {list-style: url(images/icons/maven.png);}

#git {list-style: url(images/icons/git.png);}

.github {list-style: url(images/icons/github.png);}

#vscode {list-style: url(images/icons/vscode.png);}

#intellij {list-style: url(images/icons/intellij.png);}

#clion {list-style: url(images/icons/clion.png);}

#vp {list-style: url(images/icons/vp.png);}

#js {list-style: url(images/icons/java-script.png);}

#numpy {list-style: url(images/icons/NumPy.png);}

#sklearn {list-style: url(images/icons/scikit-learn.png);}

#matplotlib {list-style: url(images/icons/Matplotlib.png);}

#three {list-style: url(images/icons/Three.js.png);}